<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Your Pokemon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav>
      <div class="nav-wrapper yellow darken-2">
        <a href="#" class="brand-logo"><img class="pokemon-logo-image" src="../images/pokemon-logo.png"></a>
        <ul id="navText" class="right hide-on-med-and-down">
        <li><a href="#">TRAINERS</a></li>
        <li><a href="#">POKEMON</a></li>
        <li><a href="#">GYM</a></li>
        </ul>
      </div>
    </nav>
     
<div class = "main">
    <div class = "selection">
        <div class = "container"> 
            <h1>Edit Your Pokemon</h1>
        <div class="row">
            <form action="/pokemon/add" method="post" class="col s12 white">
                <input type="text" name="name" placeholder="Pokemon Name">
                <input type="number" name="trainer_id" placeholder="1-4">
                <input type="number" name="cp" placeholder="CP">
                <input type="text" name="in_gym" placeholder="true/false">
                </select>
                
                <input type="submit">
              
                </form>
            </div>
      </div>
    </div>
    
    </div>
    <footer class="page-footer black">
           
            <div class="footer-copyright">
              <div class="container">
              © 2014 Copyright
              </div>
            </div>
          </footer>
              
  </body>
</html>
