.main{
    background-image: url("../images/ball_background_opaque.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0px;
    padding: 0px;
};

.title{    
    color: white;
}

